<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container py-5">
    <h1 class="h1 text-center">Create</h1>
    <form th:action="@{/books}" th:method="POST" th:object="${book}">
        <div class="mb-3">
            <input type="hidden" class="form-control" id="bookId" name="bookId" aria-label="BookId"
                   th:value="*{bookId}" th:field="*{bookId}">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="title" name="title" aria-label="Title"
                   placeholder="Book title" th:value="*{title}" th:field="*{title}" required>
            <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div class="mb-3">
            <select id="author" class="form-select" aria-label="Author" th:field="*{authorId}" required>
                <option value="" selected>Select author from the list</option>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
            </select>
            <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"></div>
        </div>
        <div class="mb-3">
            <select id="genres" class="form-select" multiple aria-label="Genres" th:field="*{genreIds}">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
            <div class="alert alert-warning" role="alert" th:if="${#fields.hasErrors('genreIds')}" th:errors="*{genreIds}"></div>
        </div>
        <div class="m-0 border-0">
            <button type="submit" class="btn btn-secondary">Save</button>
            <a class="btn btn-danger" role="button" href="books-view.html"
               th:href="@{/books}">Cancel</a>
        </div>
    </form>
</div>

</body>
</html>